
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Benne&family=Quicksand&display=swap" rel="stylesheet">
<style>
  body {
    font-family: 'Benne', serif;
font-family: 'Quicksand', sans-serif;
  }
</style>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="cards">
      <img class="image" src="../images/alan.jpg" alt="Alan" style="width:100%">
      <div class="container">
        <h2>Alan Balcom</h2>
        <p class="title">Web Developer</p>
        <p>A Web and Software Developer with a passion for creating projects that help others reach their goals.</p>
         <a href="mailto:abalcom23@gmail.com" class="button"><i class="fas fa-envelope"></i>Email</button></a>
        <a href="https://github.com/abalcs" class="button"><i class="fab fa-github"></i>Github</button></a>
        
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="cards">
      <img src="../images/erica.png" alt="Erica" style="width:100%">
      <div class="container">
        <h2>Erica Fagioli</h2>
        <p class="title">Web Developer</p>
        <p>I am a full stack web development student at University of New Hampshire. I am eager to secure challenging roles in world of web development.</p>
         <a href="mailto:efagioli01@gmail.com" class="button"><i class="fas fa-envelope"></i>Email</button></a>
        <a href="https://github.com/efagioli01" class="button"><i class="fab fa-github"></i>Github</button></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="cards">
      <img src="../images/james.jpg" alt="James" style="width:100%">
      <div class="container">
        <h2>James Clark</h2>
        <p class="title">Web Developer</p>
        <p>Currently work at a digital marketing agency in New Hampshire doing SEO for local businesses. We work with businesses in any industry ranging from restaurants to data storage companies.</p>
        <a href="mailto:jamespclark95@gmail.com" class="button"><i class="fas fa-envelope"></i>Email</button></a>
        <a href="https://github.com/jamespclark95" class="button"><i class="fab fa-github"></i>Github</button></a>
        
   
      </div>
    </div>
  </div>
</div>