<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Benne&family=Quicksand&display=swap" rel="stylesheet">
<style>
  body {
    font-family: 'Benne', serif;
font-family: 'Quicksand', sans-serif;
  }
</style>


<div class="body-color">
    {{!-- <a href="/contact" class="button medium"><i class="fas fa-home"></i>Home</button></a> --}}

    <li><a href="mailto:jamespclark95@gmail.com"><i class="fas fa-envelope"></i> Email</a></i></li>
    <br>  
    <li><a href="tel:6034904613"><i class="fas fa-phone"></i> 603-490-4613</a></li>
    <br>
    <li><a href="https://github.com/jamespclark95"><i class="fab fa-github"></i></a>
    
    </div>



<div class="body-color">
    {{!-- <a href="/contact" class="button medium"><i class="fas fa-home"></i>Home</button></a> --}}

    <li><a href="mailto:efagioli01@gmail.com"><i class="fas fa-envelope"></i> Email</a></i></li>
    <br>  
    <li><a href="tel:6173208514"><i class="fas fa-phone"></i> 617-320-8514</a></li>
    <br>
    <li><a href="https://github.com/efagioli01"><i class="fab fa-github"></i></a>
    
    </div>


    <div class="body-color">
    {{!-- <a href="/contact" class="button medium"><i class="fas fa-home"></i>Home</button></a> --}}

    <li><a href="mailto:abalcom23@gmail.com"><i class="fas fa-envelope"></i> Email</a></i></li>
    <br>  
    <li><a href="tel:"><i class="fas fa-phone"></i> 111-111-1111</a></li>
    <br>
    <li><a href="https://github.com/abalcs"><i class="fab fa-github"></i></a>
    
    </div>

