<h1>Which type of business are you hoping to visit?</h1>

<div class="choice">
    <button type="button" class="btn btn-success" id="nomask">No Mask</button>
    <button type="button" class="btn btn-danger" id="mask">Mask</button>
</div>

<div class="img">
    <img src="https://www.azdisabilitylaw.org/wp-content/uploads/2020/06/surgical-mask.jpg" alt="a picture of a mask" width="550px" height="350px">
</div>