<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Benne&family=Quicksand&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<style>
  body {
    font-family: 'Benne', serif;
    font-family: 'Quicksand', sans-serif;
    height: 120vh;
  }
</style>

<div class="container" style="width: 30rem; left; margin-left: 8%;">
  <div class="card">

  <div class="card-header bg-warning text-dark text-center" style="border: 2px solid black;">
    Find local businesses in your area below
  </div>

  <div class="card-body" style="border: 2px solid black; text-align: left;">
    <p class="card-title">Step 1: Search for the business</p>
    <p class="card-text">Step 2: Tell us whether or not they require a mask</p>
    <p class="card-text">Step 3: Save that info for all our users to see!</p>
    {{!-- <a href="#" class="btn btn-warning">Go somewhere</a> --}}
    <div> Search here! --->
        <input
          id="autocomplete"
          class="controls bg-light rounded"
          type="text"
          placeholder="Fenway Park, Boylson St" style="width: 13rem; font-style: italic;">
    </div>
  </div>

  </div>
</div>


<div class="container" style="width: 40em; margin-right: 5%; margin-top: -220px;">
  <div class="card-header bg-info text-white text-center" style="border: 2px solid black;">
    Recent Updates
  </div>
  <div class="card-body" style="border: 2px solid black;" id="recents">
    {{!-- <p style="text-decoration: underline; font-weight: bold;">Location</p>
    <p style="text-decoration: underline; font-weight: bold;">Address</p>
    <p style="text-decoration: underline; font-weight: bold;">Mask Status</p> --}}
  </div>
</div>

  <script src="/javascript/places.js"></script>
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaXpjaqVUhl0MLKeyTqH2ZZIO-9izs96U&libraries=places&callback=initAutoComplete"
    ></script>
    